# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Logs
logs/
*.log

# Build
dist/
build/

# IDE
.vscode/
.idea/

# Tests
.pytest_cache/
.coverage
htmlcov/

# OS
Thumbs.db
.DS_Store

# Releases
/releases/output/
